<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{path('puntodeinteres_index')}}"><span class="glyphicon glyphicon-home"></span> DescubríBA</a>
    
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-map-marker"></span> Puntos de Interés<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('puntodeinteres_new')}}"><span class="glyphicon glyphicon-plus"></span> Nuevo Punto</a></li>
            <li><a href="{{path('puntodeinteres_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Listado de Puntos</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bookmark"></span> Categoria<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('categoria_new')}}"><span class="glyphicon glyphicon-plus"></span> Nueva Categoria</a></li>
            <li><a href="{{path('categoria_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Listado de Categorias</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-download-alt"></span> Localidades<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('localidad_new')}}"><span class="glyphicon glyphicon-plus"></span> Nueva Localidad</a></li>
            <li><a href="{{path('localidad_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Listado de Localidades</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-camera"></span> Multimedia<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('imagen_new')}}"><span class="glyphicon glyphicon-picture"></span> Nueva Imágen</a></li>
            <li><a href="{{path('imagen_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Listado de Imágenes</a></li>
            <li class="divider"></li>
            <li><a href="{{path('video_new')}}"><span class="glyphicon glyphicon-facetime-video"></span> Nuevo video</a></li>
            <li><a href="{{path('video_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Listado de videos</a></li>
            <li class="divider"></li>
            <li><a href="{{path('enlace_new')}}"><span class="glyphicon glyphicon-link"></span> Nuevo enlace</a></li>
            <li><a href="{{path('enlace_index')}}"><span class="glyphicon glyphicon-list-alt"></span> Listado de enlaces</a></li>
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
           {# user is logged in #}
           <li><a href="{{path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        {% else %}
           {# user is not logged in #}
           <li><a href="{{path('fos_user_security_login')}}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>