{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user %}
        <div class="col-md-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Categorias</h3>
              </div>
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    {% for categoria in categorias %}
                      <li role="presentation"><a href="{{ path('anuncios_categoria', { 'categoriaId': categoria.id }) }}">{{ categoria.nombre }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        </div>

        {% for anuncio in anuncios %}
            <div class="col-md-1 bg-danger">{{ anuncio.nombre }}</div>
        {% endfor %}
    {% endif %}



    {% if app.user %}
        <div class="col-md-8">
            <h1>Categoria {{categoria}} </h1>

            <table id="tabla_buscar">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Id</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for anuncio in anuncios %}
                    <tr>
                        <td><a href="{{ path('anuncio_show', { 'id': anuncio.id }) }}">{{ anuncio.descripcion }}</a></td>
                        <td>{{ anuncio.id }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('anuncio_show', { 'id': anuncio.id }) }}">show</a>
                                </li>
                                {% if app.user %}
                                    <li>
                                        <a href="{{ path('anuncio_edit', { 'id': anuncio.id }) }}">edit</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-10">
                <br><a href="{{ path('anuncio_new') }}" class="btn btn-success btn-md" role="button">Nuevo Anuncio</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
